name: Frontend Login Tests CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # BACKEND
      - name: Install Backend Dependencies
        working-directory: ./backend
        run: mvn -q dependency:resolve

      - name: Start Backend Server
        working-directory: ./backend
        run: |
          mvn spring-boot:run &
          sleep 12

      # FRONTEND
      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Start Frontend Server
        working-directory: ./frontend
        run: |
          npm start &
          npx wait-on http://localhost:5173

      # CYPRESS E2E
      - name: Install Cypress
        working-directory: ./frontend
        run: npx cypress install

      - name: Run Login E2E Tests
        working-directory: ./frontend
        run: npm run test:e2eFrontend

      # Test Report (Coverage)
      - name: Generate Coverage Report
        working-directory: ./frontend
        run: npm run test:coverage

      - name: Upload Coverage Artifact
        uses: actions/upload-artifact@v4
        with:
          name: login-test-report
          path: frontend/coverage
